h1 {
text-align: center;
	color:black;
	font-size:24pt;
	font-family:arial,helvetica,sans-serif;
	border-style: solid;
	background-color: lightblue;
}
h2{
	text-align: center;
	color:black;
	background-color: green;
	
}
